.material-icons.arrow {
      margin-top: 15px;
}
.material-icons.star {
  color: #ffe500;
  vertical-align: middle;
  margin-left: 5px;  
  cursor: pointer;
}

.title {
  font-weight: bold;
  display: inline-block;
}

.sub {
  font-style: italic;
}

a {
  display: block;
}